# vendored code which shouldn't count for lang stats
demo/* linguist-vendored

# convince linguist that JSON can have comments
# but beware! → (https://github.com/github/linguist/issues/4496#issuecomment-485251963)  
*.json linguist-language=JSON-with-Comments